body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.max-w-sm {
  max-width: 20rem; /* Ajusta el ancho máximo según tus necesidades */
  margin: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar las tarjetas */
  border-radius: 1rem; /* Bordes redondeados */
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0; /* Bordes redondeados solo en la parte superior */
}

h1 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #333; /* Color del texto del título */
}

p {
  margin: 0 1rem 1.5rem;
  font-size: 1rem;
  color: #666; /* Color del texto del contenido */
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.bg-indigo-400 {
  background-color: #6366f1; /* Color de fondo indigo */
}

.bg-gray-400 {
  background-color: #a0aec0; /* Color de fondo gris */
}

.bg-yellow-400 {
  background-color: #f6e05e; /* Color de fondo amarillo */
}
